/* Color Palette
White/Background: #ecf0f1
Black/Text: #111
Light Relative: #99cbed
Base Color: #1f74ac
Dark Relative: #0f3a56 */

/* ------------------------------------- */
/* Basic Setup */
/* ------------------------------------- */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

html {
    background-color: #ecf0f1;
    color: #111;
    font-family: "Catamaran", "Arial", sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* ------------------------------------- */
/* Reusable Components */
/* ------------------------------------- */

.group {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 50px 0px;
}

.card {
    padding: 1%;
}

/* Heading Elements */

h1, h2 {
    font-weight: 300;
    text-transform: uppercase;
    color: #ecf0f1;
}

h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 300%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 150%;
}

h3 {
    font-size: 125%;
    text-align: center;
    margin-bottom: 20px;
}

/* ----- Paragraphs ----- */

.copy {
    line-height: 140%;
    width: 70%;
    margin-left: 15%;
    text-align: center;
}

.card p {
    font-size: 90%;
    line-height: 140%;
    text-align: center;
    width: 100%;
    margin: 0;
}

/* ----- Icons ----- */

.icon-card {
    font-size: 300%;
    display: block;
    color: #1f74ac;
    margin-bottom: 10px;
    text-align: center;
}

/* ------------------------------------- */
/* Header */
/* ------------------------------------- */

/* ----- Navigation Bar ----- */

/*.logo {
    height: 100px;
    width: auto; (You'll need this when your logo is in an image format)
    font-size: 300%;
    display: block;
    float: left;
    margin-top: 15px;
    color: #ecf0f1;
}*/

.main-nav {
    float: right;
    list-style: none;
    margin: 20px 0;
    /*padding: 20px 0;*/
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link, .main-nav li a:visited {
    color: #ecf0f1;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover, .main-nav li a:active {
    border-bottom: 2px solid #ecf0f1;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

/* Mobile Nav */

.mobile-nav-icon {
    float: right;
    margin-top: 20px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #ecf0f1;
}

/* Sticky Nav */

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ecf0f1;
    z-index: 9999;
    offset: 40px;
}

.sticky .main-nav {
    padding: 0;
    margin: 15px 0;
}

.sticky .main-nav li a:link, .sticky .main-nav li a:visited {
    color: #111;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.sticky .main-nav li a:hover, .sticky .main-nav li a:active {
    border-bottom: 2px solid #111;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

/* ----- Text ----- */

header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(img/beanbg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(img/beanbg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.hero-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
}

/* ------------------------------------- */
/* About */
/* ------------------------------------- */

.greeting {
    margin-bottom: 100px;
}

.greeting:after {
    display: block;
    height: 4px;
    background-color: #1f74ac;
    width: 200px;
    content: " ";
    margin: 0 auto;
    margin-top: 20px;
}
.text-cards {
    margin-top: 20px;
}

.profile-image img {
    display: block;
    max-height: 240px;
    max-width: 240px;
    min-height: 120px;
    min-width: 120px;
    border-radius: 50%;
    margin: 20px auto;
}

/* ------------------------------------- */
/* Music */
/* ------------------------------------- */

.section-music video {
    width: 60%; /* max-width in queries for fluid width */
    height: auto;
    margin: 30px 20% 30px 20%;
}

/* ------------------------------------- */
/* Photography */
/* ------------------------------------- */

.portfolio {
    list-style: none;
    width: 100%;
    height: auto;
}

.portfolio li {
    display: block;
    float: left;
    width: 25%;
}

.photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    background-color: #000;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}

.photo-copy {
    margin-top: 30px;
}

.photo-copy a:link,
.photo-copy a:visited {
    text-decoration: none;
    color: #111;
}

/* ------------------------------------- */
/* Footer */
/* ------------------------------------- */

footer {
    background-color: #111;
    margin: 0;
    text-align: center;
    padding: 20px 0;
}


footer ul li {
    display: inline-block;
    margin-right: 20px;
}

footer ul li:last-child {
    margin-right: 0;
}

footer li a:link,
footer li a:visited {
    font-size: 150%;
    color: #ecf0f1;
}